[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "shinyLP"]
	path = shinyLP
	url = https://github.com/jasdumas/shinylp
[submodule "ttbbeer"]
	path = ttbbeer
	url = https://github.com/jasdumas/ttbbeer
